@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-weight: 400;
    font-family: IBMPlexSans;
    src: url(/fonts/IBMPlexSans-regular.woff) format('woff');
  }
  @font-face {
    font-weight: 600;
    font-family: IBMPlexSans;
    src: url(/fonts/IBMPlexSans-semibold.woff) format('woff');
  }
  @font-face {
    font-weight: 700;
    font-family: IBMPlexSans;
    src: url(/fonts/IBMPlexSans-bold.woff) format('woff');
  }
}

@import '~react-vis/dist/style';

.bg-blur {
  backdrop-filter: saturate(180%) blur(20px);
}

@supports not (backdrop-filter: none) {
  .bg-blur {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

div.mapboxgl-map {
  font-family: 'IBMPlexSans', Helvetica Neue;
  text-decoration: underline;
}

.blogpost * {
   line-height: 1.5;
   font-size: 21px;
 }
